#Boton__Admin{
    background-color:  #CE93D8;
    border: violet;
    border-radius: 15px;
    margin-left: 650px;
    margin-top: 40px;
    font-size: 25px;
    color: black;
    font-weight: 500;
}