#Cancion{
    background-color: #F3E5F5;
    border: 20px;
    border-color: black;
}
#Cancion1{
    background-color: #CE93D8;
}
.links{
    margin-left: 10px;
}
#Autor__texto{
justify-content: center;
}
#Cancion__img{
    width:50px;
    height:50px;
    margin-left: 80px;
}
.Cancion__left{
    width:50px;
    height:50px;
    text-align: left;
}
.Cancion__pause{
    width:50px;
    height:50px;
    justify-content: center;
}
.Cancion__right{
    width:50px;
    height:50px;
    text-align: right;
}