.Administrador__card{
    border: none;
    width: 100%;
}
#Imagencard_Admin{
    text-align: left;
    height: 500px;
    width: 500px;
    border: none;
}
#Imagencard_Admin2{
    margin-left:100px;
    height: 500px;
    width: 500px;
    border: none;
}