.card-deck{

 width: 95%;
}
.card{
    width: 20%;
}
#Card-1{
    border: none;
    border-radius: 10px;
    
}
#Card-2{
    width: 100%;
    box-shadow:  0px 1px 8px 2px #CCCCFE;
    border: 1px solid #CCCCFE;
    border-radius: 10px;
    padding-right: 150px ;
}
#Imagen-perfil{

    height: 320px;
    width: 350px;
    align-items: center;

}
#Card-title-text{
    color:#E1BEE7;

}
.card-text{
    display: inline;
    padding: 5px;
    color: black;
    font-weight: 400;
    
}
#Card-title{
    font-weight: 400;
}