
#Categorias{
    background-color: #CE93D8;
    
}

.alertadmin{
  background-color: #b98fdd;
  text-align: center;
  color: white;
  font-family: 'Bebas Neue',cursive;
  font-size: 30px;
}
#Admin_Texto{
  font-size: 20px;
  font-weight: 800;
  color: black;
  
  
  
}

